* {
box-sizing: border-box;
}
body {
    background-color: antiquewhite;
    padding: 20px;
    font-family: Arial;
}
.main {
    max-width: 1000px;
    margin:auto;
}
h1{
    font-size: 50px;
    word-break: break-all;
}
.row{
    margin: 10px -16px;
}
.row,
.row > .column{
    padding: 8px;
}
.column{
    float: left;
  width: 33.33%;
  display: none;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.content {
    background-color: rgb(56, 3, 3);
    padding: 10px;
}
.show {
    display: block;
}
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: rgb(66, 4, 4);
    cursor: pointer;
    color: antiquewhite;
  }
  
  .btn:hover {
    background-color: rgb(179, 55, 55);
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  } */
  /* overlay
  /* #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(99, 5, 5, 0.849);
    z-index: 2;
    cursor: pointer;
  }
  
  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  } */
  /* rating */
  /* front */
  .ml5 {
    position: relative;
    font-weight: 300;
    font-size: 4.5em;
    color: #402d2d;

  }
  
  .ml5 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    line-height: 1em;
  }
  
  .ml5 .line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    width: 100%;
    background-color: #402d2d;
    transform-origin: 0.5 0;
  }
  
  .ml5 .ampersand {
    font-family: Baskerville, serif;
    font-style: italic;
    font-weight: 400;
    width: 1em;
    margin-right: -0.1em;
    margin-left: -0.1em;
  }
  
  .ml5 .letters {
    display: inline-block;
    opacity: 0;
  }

  .ml51{
    margin: 10;
    text-align: center;
    font-size: 200%;
    padding-top: 8%;
    
  }
/* button */
.button {
  background-color: rgb(49, 2, 2);
  border: none;
  color: rgb(245, 239, 239);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.button:hover {
  background-color: #aa3030d5;
}
.btn5{
  text-align: center;
}